.leaf-container {
  display: inline-block;
  position: relative;
  padding: 20rem 14rem; /* khoảng cách để nội dung không dính viền lá */
}

.leaf-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* SVG nằm dưới */
}

.leaf-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
