.btn-glass {
  display: flex;
  border-radius: 0.9rem;
  background: rgba(255, 255, 255, 0.4) !important;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px) brightness(1.2);
  /* cùng blur với container */
  -webkit-backdrop-filter: blur(20px) brightness(1.2);
  padding: 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  gap: 0.3rem;
  align-items: center;
  text-align: center;
}

.btn-glass:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-glass.active {
  background: linear-gradient(135deg, #006400, #228b22, #32cd32) !important;
  color: white;
  border-color: #006400;
  box-shadow: 0 0 8px rgba(39, 167, 14, 0.6);
}

.btn-outline-primary {
  color: #056a21;
  border: 1px solid rgba(216, 162, 15, 0.4);
  background-color: transparent;
}

.btn-icon {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-btn {
  width: 5rem;
  height: 3rem;
  border: 1px solid rgba(225, 225, 225, 0.6);
  background-color: rgba(13, 201, 45, 0.4);
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.custom-btn:hover {
  background-color: rgba(142, 212, 28, 0.5);
  border-color: rgba(16, 177, 83, 0.637);
}

.btn-icon i {
  font-size: 1.2rem;
}

.btn-icon:hover i,
.btn-icon:hover span {
  color: #a71d2a;
}

.delete {
  color: #dc3545;
}

.delete:hover {
  color: #a71d2a;
}

.reset {
  color: #0d6efd;
}

.reset:hover {
  color: #0a58ca;
}

.submit {
  color: #198754;
}

.submit:hover {
  color: #146c43;
}
