* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

.glass {
  border-radius: 1rem;
  overflow: hidden;
  backdrop-filter: blur(20px) brightness(1.1);
  -webkit-backdrop-filter: blur(20px) brightness(1.1);
  background: rgba(255, 255, 255, 0.005) !important;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25),
    inset 0 1px 1px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgb(6, 0, 10);
}

.glass-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.td-action {
  display: flex;
  text-align: center;
  padding: 0.25rem;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
}

table.glass th,
table.glass td {
  background: rgba(255, 255, 255, 0.15);
  align-items: center;
  height: 3.5rem;
  justify-content: center;
}

table {
  width: 100%;
  height: 100px;
  border-collapse: collapse;
  table-layout: fixed; /* để thẳng cột */
}

/* thead giữ nguyên table layout */
thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}
/* Scroll riêng tbody */
tbody {
  display: block;
  max-height: 200px; /* Chiều cao tối đa cho rows */
  width: 100%;
  border-radius: 0 !important;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.scroll-hidden {
  overflow-y: auto;
  overflow-x: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
