// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

.glass {
  border-radius: 1rem;
  // overflow: hidden;
  backdrop-filter: blur(20px) brightness(1.1);
  -webkit-backdrop-filter: blur(20px) brightness(1.1);
  background: rgba(255, 255, 255, 0.0025);
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25),
    inset 0 1px 1px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgb(6, 0, 10);
}

.scroll-hidden {
  overflow-y: auto;
  overflow-x: auto;
}
/* Định nghĩa kích thước của thanh cuộn */
.scroll-hidden::-webkit-scrollbar {
  width: 4px; /* Chiều rộng thanh cuộn dọc */
  height: 4px; /* Chiều cao thanh cuộn ngang */
}

/* Định nghĩa khu vực track (phần nền của thanh cuộn) */
.scroll-hidden::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Màu nền nhẹ */
  border-radius: 60px;
}

/* Định nghĩa thumb (phần kéo của thanh cuộn) */
.scroll-hidden::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* Màu xám xanh nhẹ, có thể dùng màu phù hợp với theme của bạn */
  border-radius: 60px;
  border: 2px solid transparent; /* Đảm bảo thumb nhỏ hơn track */
}

/* Thay đổi màu khi di chuột qua thumb (tùy chọn) */
.scroll-hidden::-webkit-scrollbar-thumb:hover {
  background-color: #718096;
}

// .glass-table {
//   border-collapse: collapse;
//   border-spacing: 0;
// }

// .td-action {
//   display: flex;
//   text-align: center;
//   padding: 0.25rem;
//   vertical-align: middle;
//   justify-content: center;
//   align-items: center;
//   gap: 0.5rem;
//   height: 100%;
//   width: 100%;
// }

// table.glass th,
// table.glass td {
//   background: rgba(255, 255, 255, 0.15);
//   align-items: center;
//   height: 3.5rem;
//   justify-content: center;
// }

// table {
//   width: 100%;
//   height: 100px;
//   border-collapse: collapse;
//   table-layout: auto; /* để thẳng cột */
// }

// table.glass {
//   width: 100%;
//   border-collapse: collapse;
//   table-layout: fixed; /* cố định cột, dễ sync width */
// }

// /* Scroll riêng tbody */
// tbody {
//   display: block;
//   max-height: 200px; /* Chiều cao tối đa cho rows */
//   width: 100%;
//   border-radius: 0 !important;
// }

// thead, tbody tr {
//   display: table;
//   width: 100%;
//   table-layout: fixed;
// }

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
