.body {
  position: fixed;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  background: #f4f7fa;
  padding-bottom: 4rem;

  background: linear-gradient(
    to right,
    rgba(0, 176, 155, 0.7),
    rgba(150, 201, 61, 0.7)
  );

  .router-content {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 5rem;

    // align-items: center;
    justify-content: flex-start;
    width: calc(100% - 5rem);
    height: 100%;
  }
}

// .body-trimmed {
//   // .router-content {
//   //   width: calc(100% - 16.5625rem);
//   //   margin-left: 16.5625rem;
//   //   height: 100%;
//   // }
//   // .top-navbar {
//   //   width: calc(100% - 11.5625rem);
//   //   margin-left: 11.5625rem;
//   //   height: 4rem;
//   // }
// }

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}
