.body {
  position: fixed;
  width: calc(100% - 5rem);
  height: 100vh;
  margin-left: 5rem;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  background: #f4f7fa;
  padding-bottom: 4rem;

  background: linear-gradient(to right, #00b09b, #96c93d);

  .router-content {
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }
}

.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
  // .router-content{
  //   width: calc(100% - 16.5625rem);
  //   height: 100%;
  // }
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}
