<div class="dynamic-popup">
  <ng-container *ngIf="loading">
    <p>Loading form...</p>
  </ng-container>
  <ng-container *ngIf="!loading && form">
    <h3 class="my-2">{{ form.titleForm }}</h3>
    <form #myForm="ngForm" [formGroup]="dynamicFormGroup">
      <!-- Master -->
      <div
        class="row my-2 g-2 pb-2 px-2 glass"
        [class]="form.classForm"
        [style]="form.style"
      >
        <ng-container *ngFor="let field of form?.fieldControls">
          <!-- text -->
          <div
            *ngIf="['text', 'email', 'password', 'number'].includes(field.type)"
            [class]="field.class"
          >
            <app-input
              classInput="form-control"
              classLabel="form-label"
              [formControlName]="field.name"
              [label]="field.label"
              [placeHolder]="field.placeHolder"
            ></app-input>
            <small
              class="text-danger"
              *ngIf="
                dynamicFormGroup.get(field.name)?.invalid &&
                (dynamicFormGroup.get(field.name)?.touched || myForm.submitted)
              "
              >{{ getValidationErrors(field.name, field.validators) }}</small
            >
          </div>
          <!-- select -->
          <div *ngIf="field.type === 'select'" [class]="field.class">
            <app-select
              [label]="field.label"
              [options]="field.options || []"
              classLabel="form-label"
              classSelect="form-select"
              [formControlName]="field.name"
              [placeHolder]="field.value"
            ></app-select>
            <small
              class="text-danger"
              *ngIf="
                dynamicFormGroup.get(field.name)?.invalid &&
                (dynamicFormGroup.get(field.name)?.touched || myForm.submitted)
              "
              >{{ getValidationErrors(field.name, field.validators) }}</small
            >
          </div>
          <!-- Radio -->
          <div *ngIf="field.type === 'radio'" [class]="field.class">
            <app-radio
              *ngIf="field.type === 'radio'"
              [formControlName]="field.name"
              [label]="field.label"
              [options]="field.radioOptions"
              classLabel="form-label"
              [for]="field.name"
            ></app-radio>

            <small
              class="text-danger"
              *ngIf="
                dynamicFormGroup.get(field.name)?.invalid &&
                (dynamicFormGroup.get(field.name)?.touched || myForm.submitted)
              "
              >{{ getValidationErrors(field.name, field.validators) }}</small
            >
          </div>
          <!-- Date -->
          <div *ngIf="field.type === 'date'" [class]="field.class">
            <label [for]="field.name" class="form-label">{{
              field.label
            }}</label>

            <input
              [type]="field.type"
              [id]="field.name"
              [name]="field.name"
              [formControlName]="field.name"
              class="form-control"
            />
            <small
              class="text-danger"
              *ngIf="
                dynamicFormGroup.get(field.name)?.invalid &&
                (dynamicFormGroup.get(field.name)?.touched || myForm.submitted)
              "
              >{{ getValidationErrors(field.name, field.validators) }}</small
            >
          </div>
        </ng-container>
      </div>

      <ng-container *ngIf="form.detailForms && form.detailForms.length > 0">
        <!-- button change detail -->
        <app-action-box class="glass my-2">
          <ng-container
            *ngFor="let detailForm of form.detailForms; let i = index"
          >
            <app-button
              variant="btn-glass"
              [customClass]="{
                'btn-outline-primary': activeDetailIndex !== i,
                active: activeDetailIndex === i
              }"
              (onClick)="setActiveDetail(i)"
              [label]="detailForm.titleForm"
            ></app-button>
          </ng-container>
        </app-action-box>

        <!-- Detail Forms -->
        <ng-container
          *ngFor="let detailForm of form.detailForms; let i = index"
        >
          <ng-container *ngIf="activeDetailIndex === i">
            <table
              [class]="detailForm.classForm"
              class="table table-striped table-bordered glass glass-table"
              [style]="detailForm.style"
            >
              <thead>
                <tr>
                  <th
                    *ngFor="let field of detailForm?.fieldControls"
                    class="text-center"
                  >
                    <div>
                      {{ field.label }}
                    </div>
                  </th>
                  <th Class="text-center">Action</th>
                </tr>
              </thead>
              <tbody
                *ngIf="
                  detailForm.tableName &&
                  dynamicFormGroup.get(detailForm.tableName)
                "
                [formArrayName]="detailForm.tableName"
                class="scroll-hidden"
              >
                <tr
                  *ngFor="
                    let row of getInitialData(detailForm.tableName)?.controls ||
                      [];
                    let rowIndex = index
                  "
                  [formGroupName]="rowIndex"
                >
                  <td
                    *ngFor="let field of detailForm?.fieldControls"
                    class="text-center"
                  >
                    <input
                      [type]="field.type"
                      [formControlName]="field.name"
                      [class]="field.class"
                      [style]="field.style"
                      [placeholder]="field.placeHolder"
                    />
                    <small class="text-danger">
                      {{
                        getValidationErrors(field.name, field.validators, row)
                      }}
                    </small>
                  </td>
                  <td>
                    <div class="td-action">
                      <ng-container
                        *ngFor="let button of detailForm.buttonControls"
                      >
                        <app-button
                          variant="btn-icon"
                          [type]="button.type"
                          [ngClass]="button.name"
                          [style]="button.style"
                          [icon]="button.class"
                          (onClick)="
                            handelMasterForm(false);
                            invokeAction(button.click, detailForm, rowIndex)
                          "
                        >
                        </app-button>
                      </ng-container>
                    </div>
                  </td>
                </tr>
              </tbody>
              <!-- <tfoot>
                <app-pagination
                  [classNav]="'glass'"
                  [classUl]="'glass'"
                  [currentPage]="currentPage"
                  [totalPages]="totalPages"
                  (pageChange)="onPageChange($event)"
                >
                </app-pagination>
              </tfoot> -->
            </table>
          </ng-container>
        </ng-container>
      </ng-container>

      <!-- button master -->
      <div class="d-flex justify-content-end gap-2 m-3">
        <app-button
          variant="btn-glass"
          type="button"
          class="custom-btn"
          [style]="
            'color: white; background-color: blue !important; min-width: 5rem'
          "
          icon="fas fa-rotate-left"
          label="Reset"
          (onClick)="handelMasterForm(true); onReset(null, null)"
        >
        </app-button>
        <app-button
          variant="btn-glass"
          type="submit"
          class="custom-btn"
          [style]="
            'color: white; background-color: green !important ; min-width: 5rem'
          "
          icon="fas fa-paper-plane"
          label="Save"
          (onClick)="handelMasterForm(true); onSubmit()"
        >
        </app-button>
        <ng-container *ngFor="let button of form.buttonControls">
          <app-button
            variant="btn-glass"
            [type]="button.type"
            class="custom-btn"
            [style]="button.style"
            [icon]="button.class"
            [label]="button.label"
            [ngClass]="button.name"
            (onClick)="handelMasterForm(true); invokeAction(button.click)"
          >
          </app-button>
        </ng-container>
      </div>
    </form>
  </ng-container>
</div>
