.glass {
  border-radius: 1rem;
  overflow: hidden;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgb(6, 0, 10);
}

th,
td {
  background: rgba(255, 255, 255, 0.15);
  align-items: center;
  height: 3.5rem;
  justify-content: center;
}

input,
select {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  padding: 0.5rem;
}

/* Chỉ bo góc top cho thead và bottom cho tbody */
.glass thead tr:first-child th:first-child {
  border-top-left-radius: 0.7rem;
}

.glass thead tr:first-child th:last-child {
  border-top-right-radius: 0.7rem;
}

.glass tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.7rem;
}

.glass tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.7rem;
}

.button-glass {
  border-radius: 0.9rem;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  /* cùng blur với container */
  -webkit-backdrop-filter: blur(10px);
  padding: 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.button-glass:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.button-glass.active {
  background: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.6);
  color: #056a21;
  /* xanh nổi bật cho active */
}

.btn-icon {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon.custom-btn {
  width: 10rem;
  height: 2rem;
  border: 1px solid rgba(225, 225, 225, 0.3);
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-icon.custom-btn:hover {
  background-color: rgba(0, 123, 255, 0.5);
  border-color: rgba(16, 177, 83, 0.637);
}

.button-glass.active-tab {
  background: linear-gradient(135deg, #006400, #228b22, #32cd32);
  color: white;
  border-color: #006400;
  box-shadow: 0 0 8px rgba(39, 167, 14, 0.6);
}

.btn-icon i {
  font-size: 1.2rem;
  // color: #dc3545; /* màu đỏ delete */
}

.btn-icon:hover i {
  color: #a71d2a;
  /* hover đậm hơn */
}

.delete {
  color: #dc3545;
}

.delete:hover {
  color: #a71d2a;
}

.reset {
  color: #0d6efd;
}

.reset:hover {
  color: #0a58ca;
}

.submit {
  color: #198754;
}

.submit:hover {
  color: #146c43;
}