table {
  min-width: max-content;
  margin: 0;
  border-collapse: collapse;
  table-layout: auto;
}
.table-container {
  display: flex;
  flex-direction: column;
  max-height: 700px; /* Tổng chiều cao cho bảng + pagination */
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
}

.table-wrapper {
  flex-grow: 1;
  min-height: 0;
  border-radius: 1rem 1rem 0 0;
  margin-right: 10rem;

  width: 100%;
  background: rgba(248, 250, 248, 0.829);
}
.pagination-wrapper {
  border-top: 1px solid black;
  width: 100%;
}

app-pagination {
  border-radius: 0 0 1rem 1rem;
  width: 100%;
}

thead {
  background: rgb(192, 241, 192);
  position: sticky;
  top: 0px;
  width: 100%;
}

th,
td {
  border: 1px solid rgba(117, 88, 88, 0.4);
  text-align: center;
  background: transparent;
}

th {
  border-bottom: 1px solid black;
  position: relative;
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px; /* Chiều rộng để dễ click */
  height: 100%;
  cursor: col-resize; /* Đổi con trỏ chuột thành dấu kéo */
  z-index: 1;
  /* Optional: Thêm border-right mờ để nó hiển thị rõ hơn */
  /* border-right: 1px solid rgba(0, 0, 0, 0.2); */
}

.td-action {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; //đc xuống dòng
}
