<div class="dynamic-grid">
  <h3 class="my-2">{{ metaform?.form?.titleForm }}</h3>
  <!-- search -->
  <div class="search-box text-center my-2">Search</div>
  <!-- action-box  -->
  <app-action-box class="glass">
    <app-button
      variant="btn-glass"
      label="Create"
      icon="fas fa-plus"
      styleIcon="font-size: 20px"
      (onClick)="handlePopupForm(undefined, 'insert')"
    ></app-button>
    <!-- <app-button
      variant="btn-glass"
      label="Delete Multi"
      icon="fas fa-minus"
    ></app-button> -->
  </app-action-box>
  <app-table
    [data]="metaform?.form?.initialDatas"
    [field]="metaform?.form?.fieldControls"
    (row)="handlePopupForm($event, 'update')"
    [isDetail]="false"
  >
  </app-table>
</div>
