<div class="dynamic-grid">
  <h3 class="my-2">{{ metaform?.form?.titleForm }}</h3>
  <!-- search -->
  <div class="search-box text-center my-2">Search</div>
  <!-- action-box  -->
  <app-action-box class="glass">
    <app-button
      variant="btn-glass"
      label="Create"
      icon="fas fa-plus"
    ></app-button>
    <app-button
      variant="btn-glass"
      label="Delete Multi"
      icon="fas fa-minus"
    ></app-button>
  </app-action-box>
  <!-- table -->
  <table class="table table-striped table-bordered glass glass-table my-2">
    <thead>
      <tr>
        <th
          *ngFor="let field of metaform?.form?.fieldControls"
          class="text-center"
        >
          <div>
            {{ field.label }}
          </div>
        </th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody class="scroll-hidden">
      <tr
        *ngFor="let row of metaform?.form?.initialDatas; let rowIndex = index"
      >
        <td
          *ngFor="let field of metaform?.form?.fieldControls"
          class="text-center"
        >
          {{ row[field.name] }}
        </td>
        <td class="td-action">
          <app-button
            variant="btn-icon"
            label="Update"
            icon="fas fa-rotate"
            style="color: blue"
            (onClick)="handleUpdate(row)"
          ></app-button>
          <app-button
            variant="btn-icon"
            label="Delete"
            icon="fas fa-trash"
            style="color: red"
            (onClick)="handleDelete()"
          ></app-button>
          <ng-container *ngIf="metaform?.form?.buttonControls">
            <ng-container *ngFor="let button of metaform?.form?.buttonControls">
              <app-button
                variant="btn-icon"
                [type]="button.type"
                [style]="button.style"
                (onClick)="(button.click)"
                icon=""
                [label]="button.label"
                [class]="button.class"
              >
              </app-button>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <app-pagination
        [classNav]="'glass'"
        [classUl]="'glass'"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
      >
      </app-pagination>
    </tfoot>
  </table>
</div>
