.navbar {
  background: rgb(114, 172, 114);
  transition: all 0.5s ease;
  height: 4rem;
  top: 0;
  z-index: 999;
  border-bottom-right-radius: 4px;
  box-shadow: 0rem 0 0.65rem 0 #8690a3;
  position: sticky;

  .header {
    align-items: center;
    order: 2;
    width: 100%;
    transition: all 0.3s ease;
    color: #fff;
    justify-content: space-between;
    display: flex;

    .header-left,
    .header-right {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 180px;
    }

    .header-center {
      justify-content: center;
      flex: 1; //chiếm giữa
      text-align: center;
      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        margin: 0;
      }
    }

    .header-right {
      justify-content: flex-end;

      .btn-header-user {
        min-width: 180px;
        position: relative;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        margin-right: 1rem;
        background-color: rgba(169, 169, 169, 0);
        color: rgba(255, 255, 255, 0.8);
        font-weight: 400;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;

        .dropdown-user-menu {
          position: absolute;
          top: 100%;
          right: 0;
          color: rgba(255, 255, 255, 0.8);
          margin: 1rem 0 0 0;
          padding: 0.5rem 0.3rem;
          z-index: 999;
          min-width: 180px;
          list-style: none;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
          background-color: rgba(169, 169, 169, 0);
          border-radius: 2rem;
          /* Áp dụng hiệu ứng mờ */
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          li {
            padding: 0.5rem 2rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
            transition: all 0.2s ease;
            a {
              text-decoration: none;
              color: inherit;
              flex: 1;
            }
          }

          li:hover {
            border-radius: 2rem;
            background-color: transparent;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
            color: rgba(165, 42, 42, 1);
          }
        }

        &:not(.menu-open):hover {
          color: rgba(165, 42, 42, 1);
        }

        &.menu-open {
          background: rgba(169, 169, 169, 0);
        }
      }
    }
  }
}
